{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    <title>Cardápio</title>
</head>
<body>
    <section>
        <h2 class="title">Nosso Menu</h2>
        <div class="menu-container">
            {% for produto in produtos %}
            <div class="cards">
                <div class="box-produtos">
                    <img class="box-img" src="/media/{{produto.imagem}}">
                    <div class="box-text">
                        <h1>{{produto.titulo}}</h1>
                        <p>{{produto.descricao}}</p>
                        <h6>R${{produto.preco}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
{% endblock %}
